@model IEnumerable<AE_Projet.Models.Etudiant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AjouterEtd">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom_Etd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom_Etd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIN_Etd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filiere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_Etd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom_Etd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIN_Etd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filiere.Nom_Filiere)
            </td>
            <td>
                <a asp-action="ModifierEtd" asp-route-id="@item.Matricule">Edit</a> |
                <a asp-action="SuppEtd" asp-route-id="@item.Matricule">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
