@model IEnumerable<AE_Projet.Models.Professeur>

@{
    Layout = "_LayoutAdmin";
}

<section class="categories-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Gestion Professeur</h2>
            <a asp-action="AjtProf" class="dex-btn " style="background-color: #0039e6;color: white;">Ajouter Professeur</a>
        </div>
        <div>
            <table class="table table-bordered" style="margin-top: -60px;">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>CIN</th>
                        <th>Email</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nom_Prof)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prenom_Prof)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CIN_Prof)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email_Prof)
                            </td>
                            
                            <td><a asp-action="MdfProf" asp-route-id="@item.Id_Prof" class="btn btn-outline-warning btn-block" role="button">Modifier</a></td>
                            <td><a asp-action="SuppProf" asp-route-id="@item.Id_Prof" class="btn btn-outline-danger btn-block" role="button">Supprimer</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
