@model IEnumerable<AE_Projet.Models.Professeur>

@{
    Layout = "_LayoutProf";
}

@* <section class="categories-section spad">

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom_Prof)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom_Prof)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CIN_Prof)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email_Prof)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mdp)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom_Prof)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom_Prof)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CIN_Prof)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email_Prof)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mdp)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id_Prof">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id_Prof">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id_Prof">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </section>*@
<section class="categories-section spad">
    <div class="container">
        < <div>
            <table class="table table-bordered" style="margin-top: -60px;">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>CIN</th>
                        <th>Email</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom_Prof)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prenom_Prof)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CIN_Prof)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email_Prof)
                                </td>

                                <td><a asp-action="MdfProf" asp-route-id="@item.Id_Prof" class="btn btn-outline-warning btn-block" role="button">Modifier</a></td>
                                <td><a asp-action="SuppProf" asp-route-id="@item.Id_Prof" class="btn btn-outline-danger btn-block" role="button">Supprimer</a></td>
                            </tr>
                        }
                    }
                    </tbody>
            </table>
        </div>
    </div>
</section>